{%- liquid
  case section.settings.grid
  when "preset-1"
  assign presets_limit = 3
  when "preset-2"
  assign presets_limit = 3
  when "preset-3"
  assign presets_limit = 3
  when "preset-4"
  assign presets_limit = 2
  when "preset-5"
  assign presets_limit = 4
  when "preset-6"
  assign presets_limit = 5
  else
  assign presets_limit = 0
  endcase
-%}
{%- if section.settings.grid contains "preset-" and presets_limit < section.blocks.size -%}
{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if settings.animate_content_show -%}
<link rel="stylesheet" href="{{ 'section-banners.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-banners.css' | asset_url | stylesheet_tag }}</noscript>
{%- else -%}
{{ 'section-banners.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- capture section_styles -%}

{%- if section.settings.image_size == "fixed" -%}
  #image-banner-{{ section.id }} .image-banner{
    --height: {{section.settings.desktop_image_height}}px;
  }
{%- elsif section.settings.image_size == 'fullscreen' -%}
  #slideshow-{{ section.id }} .image-hover-scaling__image{
    display: flex;
    align-items: center;
    height: 100%;
  }
{%- endif -%}
  
{%- for block in section.blocks -%}
{%- if block.settings.color_subheading != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__subheading{
    color: {{ block.settings.color_subheading }};
  }
{%- endif -%}
{%- if block.settings.color_heading != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__heading{
    --color-base: {{ block.settings.color_heading }};
  }
{%- endif -%}
{%- if block.settings.color_description != "rgba(0,0,0,0)" -%}
  #image-banner-block-{{ block.id }} .image-banner__description{
    color: {{ block.settings.color_description }};
  }
{%- endif -%}

{%- if block.settings.image_overlay_opacity > 0 -%}
  #image-banner-block-{{ block.id }} .image-hover-scaling__image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: {{ settings.image_overlay_color }};
    border-radius: var(--radius);
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.00 }};
  }
{%- endif -%}
#image-banner-block-{{ block.id }} .image-banner__content--bg>*:before{
  opacity: {{ block.settings.background_overlay_opacity | divided_by: 100.00 }};
  {%- if block.settings.show_background and block.settings.color_background != "rgba(0,0,0,0)" -%}
  background: {{ block.settings.color_background }};
  {%- endif -%}
}
{%- if block.settings.button_primary_bg != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = block.settings.button_primary_bg | color_extract: 'lightness' -%}
  #image-banner-block-{{ block.id }} .btn:not(.btn--secondary){
    --background: {{ block.settings.button_primary_bg }};
    {%- if accent_brightness < 50 -%}
	--color: var(--auto-text-color-button-light);    
    {%- else -%}
	--color: var(--auto-text-color-button-dark);
    {%- endif -%}
  }
{%- endif -%}
{%- if block.settings.button_secondary_bg != "rgba(0,0,0,0)" -%}
{%- assign accent_brightness = block.settings.button_secondary_bg | color_extract: 'lightness' -%}
  #image-banner-block-{{ block.id }} .btn.btn--secondary{
    --background: {{ block.settings.button_secondary_bg }};
    {%- if accent_brightness < 50 -%}
    --color: var(--auto-text-color-button-light);
    {%- else -%}
	--color: var(--auto-text-color-button-dark);
    {%- endif -%}
  }
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- if section_styles != blank -%}
<style>
  @media (min-width: 993px){
    {{ section_styles }}
  }
</style>
{%- endif -%}

<div id="image-banner-{{ section.id }}" class="top-spacing-{{ section.settings.top_spacing }} image-banner-section{% if section.settings.image_size == "fixed" %} image-banner__fixed-height{% endif %} {{ section.settings.hover_type }}"
     data-section-name="banners">
  <div class="{% if section.settings.width != "default" %}{{ section.settings.width }}{% else %}{{ settings.page_width_main }}{% endif %} mb--last-child-0">
    
    {%- render "section-heading" section:section -%}
    
    {%- if section.blocks.size > 0 -%}
    {%- if section.settings.image_size == 'fullscreen' -%}<fullscreen-object class="image-banner--fullscreen display-block"{% if section.settings.width != "page-fullwidth" %} data-bottom-padding="70"{% endif %}>{%- endif -%}

    {%- if presets_limit >= section.blocks.size -%}
    <div class="banners-collage banners-{{ section.settings.grid }}{% if section.settings.swappresets %} swap-preset-banners-content{% endif %}">
      {%- for block in section.blocks -%}
      <div class="banner-area-{{ forloop.index }}" {{ block.shopify_attributes }}>
        {%- render 'banners-item', section: section, block: block -%}
      </div>  
      {%- endfor -%}
    </div>
    {%- else -%}
    <div class="banners-collage banners-{{ section.settings.grid }}{% if section.settings.swappresets %} swap-preset-banners-content{% endif %}">
      {%- for block in section.blocks limit:presets_limit -%}
      {%- if forloop.index == 1 -%}
      <div class="banner-area-1" {{ block.shopify_attributes }}>
      <big-slider{% if section.settings.image_size == "auto" %} class="image-size-auto"{% endif %}
            {% if section.settings.dots_mobile_position == "left" %} data-buttons-mobile-left="true"{% endif %}
            {% if section.settings.autoplay_enabled and request.design_mode == false and section.blocks.size > 1 %} data-autoplay="{{ section.settings.autoplay_time | times: 1000 }}"{% endif %}
           data-video-autoplay="{%- if section.settings.video_slide_mode contains "autoplay" -%}true{%- else -%}false{%- endif -%}"
            >
        <div class="big-slider__items for-buttons--js{% if section.settings.desktop_navigation contains "arrows" %} big-slider__items__text-padding-big{% endif %}">
          {%- assign block = section.blocks[0] -%}
          {%- render 'banners-item', section: section, block: block, is_slider:true, is_active:true -%}
          {%- for block in section.blocks offset:presets_limit -%}
            {%- render 'banners-item', section: section, block: block, is_slider:true -%}
          {%- endfor -%}
        </div>
        <div class="ctrl
        {% unless section.settings.desktop_navigation contains "arrows" %} desktop__navigation__hide{% endunless %}
        {% unless section.settings.mobile_navigation contains "arrows" %} mobile__navigation__hide{% endunless %}
        {% if section.blocks.size <= 1 %} hide{% endif %}">
        	<div class="ctrl__button ctrl__button--left">{%- render "icon-arrow-left" -%}</div>
        	<div class="ctrl__button ctrl__button--right">{%- render "icon-arrow-right" -%}</div>
        </div>
        <ul class="big-slider__dots for-buttons--js unstyle-ul big-slider__dots-{{ section.settings.dots_desktop_position }}
        {% unless section.settings.desktop_navigation contains "dots" %} desktop__navigation__hide{% endunless %}
        {% unless section.settings.mobile_navigation contains "dots" %} mobile__navigation__hide{% endunless %}
        {% if section.blocks.size <= 1 %} hide{% endif %}">
          {%- assign _presets_limit = presets_limit | minus:1 -%}
          {%- for block in section.blocks offset:_presets_limit -%}
          <li class="big-slider__dots__item for-buttons__item--js{% if forloop.first %} active{% endif %}" data-index="{{ forloop.index0 }}"></li>
          {%- endfor -%}
        </ul>
      </big-slider>
      </div>
      {%- else -%}
      <div class="banner-area-{{ forloop.index }}" {{ block.shopify_attributes }}>
        {%- render 'banners-item', section: section, block: block -%}
      </div>
      {%- endif -%}
      {%- endfor -%}
    </div>
    {%- endif -%}

    {%- if section.settings.image_size == 'fullscreen' -%}</fullscreen-object>{%- endif -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.banners-collage.name",
  	"tag": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.banners-collage.settings.paragraph_1.content"
      },
	  {
		"type": "text",
		"id": "subheading",
		"default": "SUBHEADING",
		"label": "t:sections.general.settings.subheading.label"
	  },
	  {
		"type": "text",
		"id": "heading",
		"default": "Banners",
		"label": "t:sections.general.settings.heading.label"
	  },
	  {
		"type": "select",
		"id": "heading_aligment",
		"options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_aligment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_aligment.options__center.label"
		  }
		],
		"default": "text-center",
		"label": "t:sections.general.settings.heading_aligment.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "default",
            "label": "t:sections.general.settings.width.options__default.label"
          },
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          },
          {
            "value": "page-fullwidth",
            "label": "Fullwidth"
          }
        ],
        "default": "default",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "select",
        "id": "grid",
        "options": [
          {
            "value": "preset-1",
            "label": "t:sections.banners-collage.settings.grid.options__1.label"
          },
          {
            "value": "preset-2",
            "label": "t:sections.banners-collage.settings.grid.options__2.label"
          },
          {
            "value": "preset-3",
            "label": "t:sections.banners-collage.settings.grid.options__3.label"
          },
          {
            "value": "preset-4",
            "label": "t:sections.banners-collage.settings.grid.options__4.label"
          },
          {
            "value": "preset-5",
            "label": "t:sections.banners-collage.settings.grid.options__5.label"
          },
          {
            "value": "preset-6",
            "label": "t:sections.banners-collage.settings.grid.options__6.label"
          }
        ],
        "default": "preset-1",
		"label": "t:sections.banners-collage.settings.grid.label"
      },
      {
        "type": "checkbox",
        "id": "swappresets",
        "default": false,
        "label": "t:sections.banners-collage.settings.swappresets.label",
        "info": "t:sections.banners-collage.settings.swappresets.info"
      },
      {
        "type": "header",
        "content": "t:sections.banners.settings.header_name.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
			"label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
			"label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
			"label": "t:sections.general.settings.image_ratio.options__square.label"
          }
        ],
        "default": "auto",
		"label": "t:sections.general.settings.image_ratio.label",
        "info": "t:sections.banners-collage.settings.image_ratio.info"
      },
      {
        "type": "select",
        "id": "image_size",
        "options": [
          {
            "value": "auto",
			"label": "t:sections.slideshow.settings.image_size.options__auto.label"
          },
          {
            "value": "fixed",
			"label": "t:sections.slideshow.settings.image_size.options__fixed.label"
          },
          {
            "value": "fullscreen",
			"label": "t:sections.slideshow.settings.image_size.options__fullscreen.label"
          }
        ],
        "default": "auto",
		"label": "t:sections.slideshow.settings.image_size.label",
        "info": "t:sections.banners-collage.settings.image_size.info"
      },
	  {
		"type": "range",
		"id": "desktop_image_height",
		"min": 200,
		"max": 1000,
		"step": 10,
		"unit": "px",
		"label": "t:sections.slideshow.settings.desktop_image_height.label",
        "info": "t:sections.slideshow.settings.desktop_image_height.info",
		"default": 440
	  },
      {
        "type": "select",
        "id": "hover_type",
        "options": [
          {
            "value": "image-banner__disable-hover",
            "label": "t:sections.banners.settings.hover_type.options__1.label"
          },
          {
            "value": "image-banner__normal-hover",
            "label": "t:sections.banners.settings.hover_type.options__2.label"
          },
          {
            "value": "image-banner__internal-hover",
            "label": "t:sections.banners.settings.hover_type.options__3.label"
          }
        ],
        "default": "image-banner__normal-hover",
        "label": "t:sections.banners.settings.hover_type.label",
        "info": "t:sections.banners.settings.hover_type.info"
      },
      {
        "type": "header",
        "content": "t:sections.slideshow.settings.header_1.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.banners-collage.settings.paragraph_2.content"
      },
	  {
		"type": "select",
		"id": "desktop_navigation",
		"options": [
		  {
			"value": "none",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__1.label"
		  },
		  {
			"value": "dots",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__2.label"
		  },
		  {
			"value": "arrows",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__3.label"
		  },
		  {
			"value": "dots_arrows",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__4.label"
		  }
		],
		"default": "dots_arrows",
		"label": "t:sections.slideshow.settings.desktop_navigation.label"
	  },
	  {
		"type": "select",
		"id": "dots_desktop_position",
		"options": [
		  {
			"value": "left",
			"label": "t:sections.slideshow.settings.dots_desktop_position.options__left.label"
		  },
		  {
			"value": "center",
			"label": "t:sections.slideshow.settings.dots_desktop_position.options__center.label"
		  },
		  {
			"value": "right",
			"label": "t:sections.slideshow.settings.dots_desktop_position.options__right.label"
		  }
		],
		"default": "center",
		"label": "t:sections.slideshow.settings.dots_desktop_position.label"
	  },
	  {
		"type": "select",
		"id": "mobile_navigation",
		"options": [
		  {
			"value": "none",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__1.label"
		  },
		  {
			"value": "dots",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__2.label"
		  },
		  {
			"value": "arrows",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__3.label"
		  },
		  {
			"value": "dots_arrows",
			"label": "t:sections.slideshow.settings.desktop_navigation.option__4.label"
		  }
		],
		"default": "dots_arrows",
		"label": "t:sections.slideshow.settings.mobile_navigation.label"
	  },
	  {
		"type": "select",
		"id": "dots_mobile_position",
		"options": [
		  {
			"value": "left",
			"label": "t:sections.slideshow.settings.dots_mobile_position.options__left.label"
		  },
		  {
			"value": "center",
			"label": "t:sections.slideshow.settings.dots_mobile_position.options__center.label"
		  }
		],
		"default": "center",
		"label": "t:sections.slideshow.settings.dots_mobile_position.label"
	  },
	  {
		"type": "checkbox",
		"id": "autoplay_enabled",
		"default": true,
		"label": "t:sections.slideshow.settings.autoplay_enabled.label"
	  },
	  {
		"type": "range",
		"id": "autoplay_time",
		"min": 2,
		"max": 40,
		"step": 1,
		"unit": "s",
        "label": "t:sections.slideshow.settings.autoplay_time.label",
        "info": "t:sections.slideshow.settings.autoplay_time.info",
		"default": 5
	  },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_subheading",
        "default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.subheading.label"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      }
	],
    "blocks": [
      {
        "type": "banner",
        "name": "t:sections.banners.blocks.banner.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
			"label": "t:sections.general.settings.image.label"
          },
          {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "t:sections.banners.blocks.banner.settings.image_overlay_opacity.label",
            "default": 0
          },
    	  {
    		"type": "image_picker",
    		"id": "image_mobile",
    		"label": "t:sections.slideshow.settings.image_mobile.label"
    	  },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_texts.content"
		  },
          {
            "type": "text",
            "id": "subheading",
            "default": "SUBHEADING",
			"label": "t:sections.general.settings.subheading.label"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Banner",
            "label": "t:sections.general.settings.heading.label"
          },
          {
            "type": "textarea",
            "id": "description",
            "default": "Tell more about your product, collection...",
			"label": "t:sections.general.settings.description.label"
          },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_buttons.content"
		  },
          {
            "type": "select",
            "id": "call_to_action",
            "options": [
              {
                "value": "one_link_banner",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_1.label"
              },
              {
                "value": "buttons",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_2.label"
              },
              {
                "value": "none",
				"label": "t:sections.banners.blocks.banner.settings.call_to_action.option_3.label"
              }
            ],
            "default": "one_link_banner",
			"label": "t:sections.banners.blocks.banner.settings.call_to_action.label",
			"info": "t:sections.banners.blocks.banner.settings.call_to_action.info"
          },
          {
            "type": "paragraph",
            "content": "t:sections.banners.blocks.banner.settings.paragraph_1.content"
          },
          {
            "type": "paragraph",
            "content": "t:sections.banners.blocks.banner.settings.paragraph_2.content"
          },
          {
            "type": "text",
            "id": "button_primary_name",
            "default": "Button",
			"label": "t:sections.banners.blocks.banner.settings.button_primary_name.label"
          },
          {
            "type": "url",
            "id": "url",
			"label": "t:sections.banners.blocks.banner.settings.url.label",
			"info": "t:sections.banners.blocks.banner.settings.url.info"
          },
          {
            "type": "text",
            "id": "button_secondary_name",
            "default": "Button",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_name.label"
          },
          {
            "type": "url",
            "id": "button_secondary_url",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_url.label",
			"info": "t:sections.banners.blocks.banner.settings.button_secondary_url.info"
          },
          {
            "type": "header",
			"content": "t:sections.banners.blocks.banner.settings.header_texts_settings.content"
		  },
          {
            "type": "select",
            "id": "content_aligment",
            "options": [
              {
                "value": "align-items-start",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__top_left.label"
              },
              {
                "value": "align-items-start justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__top_center.label"
              },
              {
                "value": "align-items-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__center_left.label"
              },
              {
                "value": "align-items-center justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__center.label"
              },
              {
                "value": "align-items-end",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__bottom_left.label"
              },
              {
                "value": "align-items-end justify-content-center",
				"label": "t:sections.banners.blocks.banner.settings.content_aligment.options__bottom_center.label"
              }
            ],
            "default": "align-items-center justify-content-center",
			"label": "t:sections.banners.blocks.banner.settings.content_aligment.label"
          },
          {
            "type": "select",
            "id": "texts_aligment",
            "options": [
              {
                "value": "text-left",
                "label": "t:sections.general.settings.texts_aligment.options__left.label"
              },
              {
                "value": "text-center",
                "label": "t:sections.general.settings.texts_aligment.options__center.label"
              }
            ],
            "default": "text-center",
            "label": "t:sections.banners.settings.texts_aligment.label"
          },
          {
            "type": "select",
            "id": "texts_aligment_mobile",
            "options": [
              {
                "value": "text-left-mobile",
                "label": "t:sections.general.settings.texts_aligment.options__left.label"
              },
              {
                "value": "text-center-mobile",
                "label": "t:sections.general.settings.texts_aligment.options__center.label"
              }
            ],
            "default": "text-center-mobile",
            "label": "t:sections.banners.settings.texts_aligment_mobile.label"
          },
          {
            "type": "select",
            "id": "heading_tag",
            "options": [
              {
                "value": "h1",
                "label": "t:sections.general.settings.heading_tag.options__big.label"
              },
              {
                "value": "h2",
                "label": "t:sections.general.settings.heading_tag.options__normal.label"
              },
              {
                "value": "h3",
                "label": "t:sections.general.settings.heading_tag.options__medium.label"
              },
              {
                "value": "h4",
                "label": "t:sections.general.settings.heading_tag.options__small.label"
              }
            ],
            "default": "h2",
			"label": "t:sections.general.settings.heading_tag.label"
          },
          {
            "type": "select",
            "id": "heading_tag_mobile",
            "options": [
              {
                "value": "h1--mobile",
                "label": "t:sections.general.settings.heading_tag.options__big.label"
              },
              {
                "value": "h2--mobile",
                "label": "t:sections.general.settings.heading_tag.options__normal.label"
              },
              {
                "value": "h3--mobile",
                "label": "t:sections.general.settings.heading_tag.options__medium.label"
              },
              {
                "value": "h4--mobile",
                "label": "t:sections.general.settings.heading_tag.options__small.label"
              }
            ],
            "default": "h2--mobile",
			"label": "t:sections.general.settings.heading_tag_mobile.label"
          },
          {
            "type": "select",
            "id": "description_size",
            "options": [
              {
                "value": "normal",
                "label": "t:sections.general.settings.description_size.options__normal.label"
              },
              {
                "value": "body2",
                "label": "t:sections.general.settings.description_size.options__small.label"
              }
            ],
            "default": "normal",
            "label": "t:sections.general.settings.description_size.label"
          },
          {
            "type": "checkbox",
            "id": "show_background",
            "default": false,
			"label": "t:sections.banners.blocks.banner.settings.show_background.label"
          },
          {
            "type": "range",
            "id": "background_overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "t:sections.banners.blocks.banner.settings.background_overlay_opacity.label",
            "default": 90
          },
          {
            "type": "checkbox",
            "id": "hover_underline",
            "default": false,
			"label": "t:sections.general.settings.hover_underline.label"
          },
          {
            "type": "header",
			"content": "t:sections.general.settings.header_colors.content"
		  },
          {
            "type": "color",
            "id": "color_subheading",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.subheading.label"
          },
          {
            "type": "color",
            "id": "color_heading",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.heading.label"
          },
          {
            "type": "color",
            "id": "color_description",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.general.settings.description.label"
          },
          {
            "type": "color",
            "id": "button_primary_bg",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.button_primary_bg.label"
          },
          {
            "type": "color",
            "id": "button_secondary_bg",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.button_secondary_bg.label"
          },
          {
            "type": "color",
            "id": "color_background",
            "default": "rgba(0,0,0,0)",
			"label": "t:sections.banners.blocks.banner.settings.color_background.label"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "t:sections.banners-collage.presets.name",
        "blocks": [
          {
            "type": "banner"
          },
          {
            "type": "banner"
          },
          {
            "type": "banner"
          }
        ]
      }
    ]
  }
{% endschema %}